title,english-title,year,month
어린 왕자,The Little Prince,2025,1
위대한 개츠비,The Great Gatsby,2025,1
노인과 바다,The Old Man and the Sea,2025,1
죄와 벌,Crime and Punishment,2025,1
토지,,2025,2
데미안,Demian,2025,2
안나 카레니나,Anna Karenina,2025,2
난쟁이가 쏘아올린 작은 공,,2025,3
삼국지,Romance of the Three Kingdoms,2025,3
파친코,Pachinko,2025,3
1984,,2025,3
천일야화,Arabian Nights,2025,5
차라투스트라는 이렇게 말했다,Thus Spoke Zarathustra,2025,5
국화와 칼,The Chrysanthemum and the Sword,2025,6
이방인,The Stranger,2025,6
홍길동전,,2025,6
무정,,2025,7
리어왕,King Lear,2025,7
장발장,Les Misérables,2025,8
나를 찾아서,In Search of Lost Time,2025,8
폭풍의 언덕,Wuthering Heights,2025,8
별주부전,,2025,8
동물 농장,Animal Farm,2025,9
1984,,2025,9
오만과 편견,Pride and Prejudice,2025,10
카라마조프가의 형제들,The Brothers Karamazov,2025,10
베니스의 상인,The Merchant of Venice,2025,10
그림자 자국,,2025,12
어린 왕자,The Little Prince,2024,12
동물 농장,Animal Farm,2024,10
천일야화,Arabian Nights,2024,8
토지,,2024,8
데미안,Demian,2024,7
이방인,The Stranger,2024,6
삼국지,Romance of the Three Kingdoms,2024,5
파친코,Pachinko,2024,4
1984,,2024,4
칼의 노래,,2024,3
백년의 고독,One Hundred Years of Solitude,2024,2
홍길동전,,2024,1
그림자 자국,,2023,11
노인과 바다,The Old Man and the Sea,2023,8
장발장,Les Misérables,2023,7
오만과 편견,Pride and Prejudice,2023,5
국화와 칼,The Chrysanthemum and the Sword,2023,3
데미안,Demian,2023,1
레 미제라블,Les Misérables,2022,12
안나 카레니나,Anna Karenina,2022,12
어린 왕자,The Little Prince,2022,9
위대한 개츠비,The Great Gatsby,2022,8
노인과 바다,The Old Man and the Sea,2022,8
동물 농장,Animal Farm,2022,6
백년의 고독,One Hundred Years of Solitude,2022,5
카라마조프가의 형제들,The Brothers Karamazov,2022,4
베니스의 상인,The Merchant of Venice,2022,4
차라투스트라는 이렇게 말했다,Thus Spoke Zarathustra,2022,3
